/**
 * This file is part of CFS Resource Booking.
 * 
 * @copyright Copyright 2021, Natural Resource Canada, Canadian Forest Service
 * @author Jon Elofson <jon.elofson@nrcan-rncan.gc.ca>
 * @license http://www.gnu.org/licenses/gpl-3.0.html 
 * 
 *
 * CFS Resource Booking is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * CFS Resource Booking is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with CFS Resource Booking. If not, see <https://www.gnu.org/licenses/>.
 */
 
html {
    font-family: sans-serif;
    font-size: 10pt;
}

body {
    padding-bottom: 25px;
    padding-top: 4.5rem;
}


ul.pagination {
    display: inline-block;
    padding-left: 0;
    background-color: #efefef;
    border-left: 1px solid #ccc;
    font-size: 0;
}

ul.pagination > li {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-left: 0;
    font-size: 10pt;
}

ul.pagination a {
    text-decoration: none;
    color: #fff;
    
}
ul.pagination li.active {
    background-color: #666;
    color: #fff;
    cursor: default;
}

.form-group label {
    display: block;
    font-weight: bold;

}

.form-control {
    width: 100%;
    margin-bottom: 25px;
}