body {
    padding-bottom: 25px;
    padding-top: 4.5rem;
}

.fc-event-title-container {
    cursor: pointer;
}

.chip {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 5px;
    background-color: #f1f1f1;
  }

.chip .close {
    padding-left: 1rem;
}